.foot{
    position: absolute;

height:auto;
left: 0px;


background: #F765A3;
}
.cd{
   


width:auto;
height: 41px;
left: 957px;


background: #FFFFFF;
border: 1px solid #F765A3;
border-radius: 5px;
color: gray;
margin-top: 20px;
text-align: center;
}
.cd:hover{
    background-color: #F765A3;
    color: white;
    border: 1px solid white;
}
@media screen and (max-width: 480px){
    .foot{
       /* flex-direction: column; */
       height: fit-content;
    }
 }